/* Retrieved custom barlow font and initialized the body. */
body {
    font-family: barlow;
    margin: 0;
    padding: 0;
    background-color: #F4F2F3;
}

/* Initializes the header to have desired color and features. */
header {
    display:flex;
    background-color: #2C3531;
    height: 90px;
}

/* Creates my name at the top left of the webpage and designs a section for it. */
h1 {
    font-size: 1.7em;
    text-wrap: nowrap;
    border: solid #116466;
    background-color: #116466;
    padding: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
    padding-left: 10%;
    color: #F4F2F3;
}

/* Simple ruleset to create the content containing sections. */
h2 {
    color: black;
    font-size: 1.7em;
}

/* Creates interactive href links that take you to the desired section of the page. */
header > nav {
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
}

/* Establishes default color of links. */
a:link {
    color: #F4F2F3;
}

/* Establishes color of visited links. */
a:visited {
    color: #F4F2F3;
}

/* Establishes color of links when hovered by user. */
a:hover {
    color: #FFCB9A;
}

/* Backend help to fix design flaw for about me section. */
#aboutMe {
    margin-bottom: 20px;
    margin-left: 20px;
}

/* Backend help to fix design flaw for contact me section. */
#contactMe {
    margin-bottom: 20px;
    margin-left: 20px;
}

/* Creates and styles the text that holds the content of the webpage. */
.sectionText {
    margin-left: 25px;
    width: 220px;
    border-left: 5px solid black;
    border-width: 2px;
    height: 200px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: .9em;
}

/* Styles the list in the contact me section. */
#contactMe > ul {
    height: 190px;
    list-style: none;

    a:link {
        color: black;
    }

    a:visited {
        color: black;
    }

    a:hover {
        color: #FFCB9A;
    }
}

/* Initializes the parent box to set up the project boxes. */
.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* Applies the style to the main first project to be bigger than the others. */
#firstApplication {
    background-color: #D1E8E2;
    background-image: url(../assets/images/payroll.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid #116466;
    border-width: 5px;
    height: 250px;
    width: 75%;
    margin-left: 200px;
}

/* Style the text for the inside of the first project. */
#firstApplication > p {
    color: #FFCB9A;
    margin-top: 200px;
    text-wrap: nowrap;
    background-color: #116466;
    width: 190px;
    height: 40px;
}

/* Applies the style to the other projects. */
.otherApplications {
    border: solid #116466;
    border-width: 2.5px;
    margin-left: 120px;
    width: 300px;
    height: 100px;
    background-color: #D1E8E2;

}

/* Styles the text for the inside of the other projects. */
.otherApplications > p {
    text-wrap: nowrap;
    color: #FFCB9A;
    margin-top: 70px;
    background-color: #116466;
    width: 160px;
    height: 25px;
}

/* Creates and positions my profile picture. */
#profilePicture {
    position: absolute;
    left: 500px;
    bottom: 270px;
}

/* Upon hovering the first project, it will highlight the interactive element. */
#firstApplication:hover {
    opacity: .5;
    cursor: pointer;
}

/* Upon hovering the other projects, it will highlight their interactive element. */
.otherApplications:hover {
    opacity: .5;
    cursor: pointer;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {
    header > nav {
        font-size: 20px;
    }

    .sectionText {
        margin-left: 50px;
    }

    #profilePicture {
        left: 400px;
        bottom: 300px;
    }

    #firstApplication {
        margin-left: 65px;
    }

    .otherApplications {
        width: 150px;
        margin-left: 0px;
    }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
    header > nav {
        font-size: 25px;
    }

    h1 {
        font-size: 30px;
        padding-top: 20px;
    }

    .sectionText {
        margin-left: 65px;
        font-size: 15px;
    }

    #profilePicture {
        left: 460px;
        bottom: 290px;
        height: 200px;
    }

    #firstApplication {
        margin-left: 80px;
    }

    .otherApplications {
        width: 180px;
        margin-left: 0px;
    }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
    header > nav {
        font-size: 28px;
    }

    h1 {
        font-size: 32px;
        padding-top: 15px;
    }

    h2 {
        font-size: 30px;
    }

    .sectionText {
        margin-left: 225px;
        font-size: 17px;
        height: 250px;
    }

    #profilePicture {
        left: 660px;
        bottom: 235px;
        height: 250px;
    }

    #firstApplication {
        margin-left: 115px;
    }

    .otherApplications {
        width: 240px;
        margin-left: 0px;
    }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
    header > nav {
        font-size: 30px;
    }

    h1 {
        font-size: 38px;
        padding-top: 5px;
    }

    h2 {
        font-size: 35px;
    }

    .sectionText {
        margin-left: 225px;
        font-size: 22px;
        height: 310px;
        width: 290px;
    }

    #profilePicture {
        left: 840px;
        bottom: 170px;
        height: 300px;
    }

    #contactMe > ul {
        height: 240px;
    }

    #firstApplication {
        margin-left: 150px;
    }

    .otherApplications {
        width: 300px;
        margin-left: 0px;
    }
}